{% for variable_name, value in service_environment.items() %}
{{ variable_name }}="{{ value }}"
{% endfor %}

{% if ec2_tag_cluster != "vagrant" %}
{% for variable_name, value in service_environment_hostnames.items() %}
{{ variable_name }}="{{ value }}"
{% endfor %}
{% endif %}

{% if ec2_tag_cluster == "vagrant" %}
HXPREZI_REPLACE_HTTPS="true"
{% endif %}
