{% for variable_name, value in service_environment.items() %}
{{ variable_name }}="{{ value }}"
{% endfor %}

{% if ec2_tag_cluster != "vagrant" %}
{% for variable_name, value in service_environment_hostnames.items() %}
{{ variable_name }}="{{ value }}"
{% endfor %}
{% endif %}

{% if webserver_dns is defined and ec2_tag_hxmirador is defined %}
HXMIRADOR_ALLOWED_HOSTS="{{ webserver_dns }}"
{% endif %}




