#!/bin/sh

NAME="{{ service_name }}"
USER="{{ service_user }}"
GROUP="{{ service_group }}"
PORT="{{ loris_port }}"
NUM_WORKERS="3"

# set to 0 for unlimited requests.
# set to 1 to restart the process on each request (development)
MAX_REQUESTS="0"

echo "`date`: Starting $NAME as `whoami`"

# run under supervisor so do not use --daemon
exec gunicorn \
    --name $NAME \
    --workers $NUM_WORKERS \
    --max-requests $MAX_REQUESTS \
    --timeout {{ gunicorn_timeout_seconds | default(30) }} \
    --user $USER --group $GROUP \
    --log-level debug \
    --bind 127.0.0.1:$PORT \
    loris.wsgi:application
