
server {
    listen 80;
    error_page 404 /404.html;
    error_page 500 502 503 504 /50x.html;
    root /var/www;

    location = / {
        index index.html;
    }

    location ~ ^/iiif/ {
        limit_except GET {  # restrict requests to get/head
            deny all;
        }

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout {{ gunicorn_timeout_seconds }};
        proxy_connect_timeout {{ gunicorn_timeout_seconds }};
        proxy_intercept_errors on;
        proxy_pass http://{{ loris_instance_private_dns }};
    }

    location ~ ^/ids/ {
        limit_except GET {  # restrict requests to get/head
            deny all;
        }

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout 90;
        proxy_connect_timeout 90;
        proxy_intercept_errors on;
        # this has to be reachable at nginx startup
        {% if ec2_tag_cluster == 'vagrant' %}
        proxy_pass http://{{ ids_instance_private_dns }}:{{ loris_varnish_backend_port }};
        {% else %}
        proxy_pass http://{{ ids_iiif_image_hostname }};
        {% endif %}
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }
    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }
    location /404.html {
        internal;
    }
    location /50x.html {
        internal;
    }
}
