[Unit]
Description=Varnish Cache HTTP acceleration NCSA logging daemon
After=varnish.service

[Service]
RuntimeDirectory=varnishnsca
Type=forking
User=varnishlog
Group=varnish
ExecStart=/usr/bin/varnishncsa -a -w /var/log/varnish/varnishncsa.log -D \
-F '%%{Varnish:hitmiss}x %%h %%t "%%r" %%s %%b "%%{Referer}i" "%%{User-agent}i"' -P /run/varnishlog/varnishncsa.pid
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/varnishlog/varnishncsa.pid

[Install]
WantedBy=multi-user.target
