#!/bin/bash

echo "$(date +"%F %T") log cleanup files:" && \
    /usr/bin/find {{ db_log_dir }} \
        -type f \
        -ctime +{{ db_log_retention_in_days }} \
        -name "*.log" \
        -print

/usr/bin/find {{ db_log_dir }} \
    -type f \
    -ctime +{{ db_log_retention_in_days }} \
    -name "*.log" \
    -delete

echo "$(date +"%F %T") log cleanup DONE"
