
    #
    # Wide-open CORS config for nginx
    # from https://enable-cors.org/server_nginx.html
    #
    location {{ location.prefix }} {
{% if location.root is defined and location.root != '' %}
        root {{ location.root }};
{% endif %}
{% if location.valid_referers_server_names is defined and location.valid_referers_server_names != '' %}
        valid_referers
                {{ location.valid_referers_server_names }};
        if ($invalid_referer) {
            return 403;
        }
{% endif %}
{% if location.foisted_http_header is defined and location.foisted_http_header != '' and
    location.foisted_http_header_value is defined and location.foisted_http_header_value != '' %}
        if ($http_{{ location.foisted_http_header }} != "{{ location.foisted_http_header_value }}") {
            return 401;
        }
{% endif %}

        try_files $uri =404;
        autoindex off;

        if ($request_method = 'OPTIONS') {
            add_header 'Access-Control-Allow-Origin' '*';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
            #
            # Custom headers and headers various browsers *should* be OK with but aren't
            #
            add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
            #
            # Tell client that this pre-flight info is valid for 20 days
            #
            add_header 'Access-Control-Max-Age' 1728000;
            add_header 'Content-Type' 'text/plain; charset=utf-8';
            add_header 'Content-Length' 0;
            return 204;
        }
        if ($request_method = 'POST') {
            add_header 'Access-Control-Allow-Origin' '*';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
            add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
            add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range';
        }
        if ($request_method = 'GET') {
            add_header 'Access-Control-Allow-Origin' '*';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
            add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
            add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range';
        }
    }

