#
# nginx to proxy loris and ids
#
# note that there might be a varnish in between, and the ports need to be
# configured in vars/loris_vars.yml
#

{% extends "strict_ssl_base.j2" %}


{% block custom_location %}

    location ~ ^/iiif/ {
        limit_except GET {  # restrict requests to get/head
            deny all;
        }

        # rewrites for iiif hx
        #rewrite full/full /404.html last;     # do not server originals
        rewrite ^(.*)native(.*)$ $1default$2; # support iiif 1.0
        rewrite ^(.*)default$ $1default.jpg;  # ensure format present for iiif 2.0

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $http_host;
        proxy_read_timeout {{ gunicorn_timeout_seconds }};
        proxy_pass http://{{ hx_image_host }}:{{ hx_image_port }};
    }


    location ~ ^/ids/ {
        limit_except GET {  # restrict requests to get/head
            deny all;
        }

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_read_timeout {{ gunicorn_timeout_seconds }};
        proxy_pass http://{{ ids_image_host }}:{{ ids_image_port }};
    }

{% endblock %}
