#!/bin/bash -e

SCRIPT_VENV={{ subproc_venv_dir }}
SCRIPT_FULLPATH={{ subproc_script_path }}
SCRIPT_DIR=$(dirname ${SCRIPT_FULLPATH})
SCRIPT_FILENAME=$(basename ${SCRIPT_FULLPATH})

# hack to get subproc's pkg version
VENV_DIR=$(dirname $SCRIPT_FULLPATH)
if [ ${1} == 'version_only' ]
then
    SCRIPT_VERSION=$($VENV_DIR/pip show {{ subproc_name }} | grep 'Version' | cut -d ' ' -f 2)
    if [[ -z "${SCRIPT_VERSION// }" ]]; then
        exit 1
    else
        echo $SCRIPT_VERSION
        exit 0
    fi
fi

input_file=${1}
input_dir=$(dirname ${1})
input_id=$(basename ${input_dir})  # assumes input file has a unique parent dir

# run hx_util script
cd ${SCRIPT_DIR}
# TODO: remove provision break in encapsulation of subproc_install role
output={{ subproc_output_basename }}.{{ subproc_output_ext }}
${SCRIPT_VENV}/bin/python ${SCRIPT_FILENAME} --csv ${input_file} --fmt annjs > ${input_dir}/${output}

echo "***** done processing"
echo
echo "***** all done"
