vcl 4.0;

# basic vc with longer ttl
backend hx {
    .host = "{{ varnish_backends['hx']['host'] }}";
    .port = "{{ varnish_backends['hx']['port'] }}";
}

backend ids {
    .host = "{{ varnish_backends['ids']['host'] }}";
    .port = "{{ varnish_backends['ids']['port'] }}";
}

sub vcl_recv {
    # only deal with GET/HEAD
    if (req.method != "GET" && req.method != "HEAD") {
        return(pipe);
    }

    # remove proxy header https://httpoxy.org/#mitigate-varnish
    unset req.http.proxy;

    # remove cookies otherwise it won't cache
    unset req.http.cookie;

    if (req.url ~ "^/ids/") {
        # set the host header for libraries
        set req.http.host = "{{ varnish_backends['ids']['host'] }}";
        set req.backend_hint = ids;
    } else {
        set req.http.host = "{{ varnish_backends['hx']['host'] }}";
        set req.backend_hint = hx;
    }
}

sub vcl_backend_response {
    unset beresp.http.set-cookie;
    set beresp.ttl = 7d;
    set beresp.grace = 1d;
}
